@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-100-Thin-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSerif-100-Thin-Normal.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-200-ExtraLight-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSerif-200-ExtraLight-Normal.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-300-Light-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSerif-300-Light-Normal.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-400-Regular-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSerif-400-Regular-Normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif.woff2") format("woff2"),
    url("/fonts/RobotoSerif.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-600-SemiBold-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSerif-600-SemiBold-Normal.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-700-Bold-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-700-Bold-Normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-800-ExtraBold-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-800-ExtraBold-Normal.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-900-Black-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-900-Black-Normal.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-100-Thin-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-100-Thin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-200-ExtraLight-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-200-ExtraLight-Italic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-300-Light-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-300-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-400-Regular-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-400-Regular-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-500-Medium-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-500-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-600-SemiBold-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-600-SemiBold-Italic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-700-Bold-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-700-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-800-ExtraBold-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-800-ExtraBold-Italic.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-900-Black-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSerif-900-Black-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-100-Thin-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSans-100-Thin-Normal.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-300-Light-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-300-Light-Normal.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-400-Regular-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-400-Regular-Normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-500-Medium-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-500-Medium-Normal.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-700-Bold-Normal.woff2") format("woff2"),
    url("/fonts/RobotoSans-700-Bold-Normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-900-Black-Normal.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-900-Black-Normal.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-100-Thin-Italic.woff2") format("woff2"),
    url("/fonts/RobotoSans-100-Thin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-300-Light-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-300-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-400-Regular-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-400-Regular-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-500-Medium-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-500-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-700-Bold-Italic.woff2") format("woff2"),
    url("/fonts/RobotoSans-700-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto Sans";
  src: url("/fonts/RobotoSans-900-Black-Italic.woff2")
      format("woff2"),
    url("/fonts/RobotoSans-900-Black-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Verlag";
  src: url("/fonts/Verlag-Light.woff2") format("woff2"),
    url("/fonts/Verlag-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Verlag";
  src: url("/fonts/Verlag-XLight.woff2") format("woff2"),
    url("/fonts/Verlag-XLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Verlag";
  src: url("/fonts/Verlag-Book.woff2") format("woff2"),
    url("/fonts/Verlag-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Verlag";
  src: url("/fonts/Verlag-Bold.woff2") format("woff2"),
    url("/fonts/Verlag-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Verlag";
  src: url("/fonts/Verlag-Black.woff2") format("woff2"),
    url("/fonts/Verlag-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("/fonts/Calluna-Regular.woff2") format("woff2"),
    url("/fonts/Calluna-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("/fonts/Calluna-Light.woff2") format("woff2"),
    url("/fonts/Calluna-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("/fonts/Calluna-Bold.woff2") format("woff2"),
    url("/fonts/Calluna-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("/fonts/Calluna-Semibold.woff2") format("woff2"),
    url("/fonts/Calluna-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Calluna";
  src: url("/fonts/Calluna-Black.woff2") format("woff2"),
    url("/fonts/Calluna-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "rubrik";
  src: url("/fonts/Rubrik-ExtraLight.woff2") format("woff2"),
    url("/fonts/Rubrik-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "rubrik";
  src: url("/fonts/Rubrik-Light.woff2") format("woff2"),
    url("/fonts/Rubrik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "rubrik";
  src: url("/fonts/Rubrik-Regular.woff2") format("woff2"),
    url("/fonts/Rubrik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "rubrik";
  src: url("/fonts/Rubrik-Bold.woff2") format("woff2"),
    url("/fonts/Rubrik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "rubrik";
  src: url("/fonts/Rubrik-Medium.woff2") format("woff2"),
    url("/fonts/Rubrik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "rubrik";
  src: url("/fonts/Rubrik-SemiBold.woff2") format("woff2"),
    url("/fonts/Rubrik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-Light.woff2") format("woff2"),
    url("/fonts/Sentinel-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-Book.woff2") format("woff2"),
    url("/fonts/Sentinel-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-Bold.woff2") format("woff2"),
    url("/fonts/Sentinel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-Medium.woff2") format("woff2"),
    url("/fonts/Sentinel-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-Semibold.woff2") format("woff2"),
    url("/fonts/Sentinel-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-Black.woff2") format("woff2"),
    url("/fonts/Sentinel-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-LightItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-BookItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-BoldItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-MediumItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Sentinel";
  src: url("/fonts/Sentinel-BlackItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}
